.container__inner--accounts

    p
        max-width 750px
        text-align center
        
        &.upper, &.bottom
            margin 30px 0 65px 0
    
    @media screen and (max-width $screen-sm)
        h2,p
            width 100%
            text-align center
            
.bullets
    display flex
    flex-flow row wrap
    justify-content center
    align-items center
    
    &-half
        display flex
        flex-flow column wrap
        justify-content center
        align-items center
        
        width 490px
        
        @media screen and (max-width 1035px)
            width 85vw
        
        ul
            list-style-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAABGdBTUEAALGPC/xhBQAAAFRJREFUGBlj/P///yoG3OAXI1DBf9zyDI+Y8EiCpE4SMiGIAWQFDnAKKM6IS8EboKQS2Hosuu8CxbThbkNS8ATIrgNibrgkiAEU8ABiLSBmRJGAcgAUVnr1O+tOeQAAAABJRU5ErkJggg==')
            
            @media screen and (max-width 1035px)
                width 420px

            @media screen and (max-width $screen-xs)
                width 100%

            li
                padding-left 10px
                margin-bottom 30px