.container__inner--hero
    
    @media screen and (max-width $screen-lg)
        p
            max-width 450px
    
    @media screen and (max-width $screen-pc)
        min-height 650px
    
    @media screen and (max-width $screen-md)
        align-items center
        min-height 750px
        
        h1,p
            width 100%
            text-align center
                      