html 
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-text-size-adjust 100%


body, html
    position relative
    min-height 100vh
    min-width 100%
    background #290058
    min-width 320px
    color #141117
    text-align left
    margin 0
    padding 0


*
    font-family Roboto,'calibre', Helvetica, Arial, 'sans-serif'
    box-sizing border-box

    &:focus, &:active
        outline none !important
        
    &, &:before, &:after
        box-sizing border-box
        outline 0
        -webkit-font-smoothing antialiased


img, svg
    border 0
    outline none
    max-width 100%


ul,li
    margin 0
    padding 0
    list-style-type none


h1, h2, h3, h4, h5, h6, p, a, button, input, textarea, label
    margin 0
    padding 0
    text-decoration none
    -webkit-font-smoothing antialiased


ul, li
    padding 0
    margin 0
    list-style-type none
    
.absolute-background
    position absolute
    
    &--hero
        display block
        
        z-index 5

        top 0
        left 0
        right 0
        
        margin-left auto
        margin-right auto
        
        width auto
        height 910px
        
        background-image url('assets/hero-twistus.jpg')
        background-size cover
        background-position center
        background-repeat no-repeat
        
        &#outer
            @media screen and (max-width $screen-md)
                display none
            
        &#inner
            display none
            
            @media screen and (max-width $screen-md)
                display block
                background-position-y -25px
                
            @media screen and (max-width 600px)
                background-size contain
                
            @media screen and (max-width 615px)
                background-position-y bottom

        @media screen and (max-width $screen-pc)
            height 750px
            
        @media screen and (max-width $screen-md)
            background-image url('assets/hero-twistus-mobile.jpg')
            
    &--sales
        width 100%
        height 50%
        
        position absolute
        bottom 0
        left 0
        
        background-color white
        

    
.container
    display flex
    
    &__outer
        flex-flow row wrap
        justify-content center
        align-items center
        
        position relative
        
        height auto
        width 100vw
        
        &--hero
            background-color #290058
                
        &--sales
            z-index 9
            
            background-image url('assets/sales-bg.png')
            background-size 1440px 1085px
            background-position left
            background-repeat-x repeat
            background-repeat-y no-repeat
            background-position-x 110%
            background-position-y 10px
            
            @media screen and (max-width $screen-md)
                background-color white
                background-position-y 0
            
        &--accounts
            background-color #2E006D
            z-index 9
            
            background-image url('assets/accounts-bg.png')
            background-size 100%
            background-position center
            background-repeat-y repeat
            
            @media screen and (max-width $screen-md)
                background-size cover
            
        &--how
            background-color #fff
            z-index 9
            
            background-image url('assets/how-bg.png')
            background-size 100%
            background-position center
            background-repeat-y repeat
            
            @media screen and (max-width $screen-md)
                background-size cover
            
        &--shops
            background-color #221F25
            z-index 9
        
    &__inner
        position relative
        z-index 10

        flex-flow column wrap
        justify-content space-around
        align-items center

        max-width 1260px
        width 100%
        
        min-height 500px
        
        padding 50px 0
        
        @media screen and (max-width 1260px)
            max-width 95vw
        
        &--hero
            // background-image url('/assets/hero-twistus.jpg')
            // background-color rgba(255,255,255,.1)
            min-height 750px
            align-items flex-start
            justify-content flex-start
            
            h1,p
                color white
                
            h1
                margin-top 90px
                margin-bottom 30px
                
                @media screen and (max-width $screen-md)
                    margin-top 20px
                    margin-bottom 20px

            p
                max-width 580px
                margin-bottom 60px
                font-size 24px
                line-height 42px
                opacity 0.8
                
                @media screen and (max-width $screen-md)
                    font-size 18px
                    line-height 36px
                    margin-bottom 20px
                    
            @media screen and (max-width $screen-md)
                padding-top 30px
                
        &--sales
            // background-color rgba(255,255,255,.1)
            
            a
                font-weight 500
                text-decoration underline

            h2,p,a
                color #4E0F89
                
            p
                line-height 38px
                
            p.discount
                font-style italic
                font-weight bold
                font-size 37px
                color #63C839
                
                margin-left 25px
            
        &--accounts
            // background-color rgba(255,255,255,.1)
            
            h2,li,a
                color white
                
            p
                color rgba(255,255,255,.8)
            
        &--how
            // background-color rgba(255,255,255,.1)
            
            h2,p
                color #4E0F89
            
        &--shops
            // background-color rgba(255,255,255,.1)
        
        
