// responsive values
/*
    <1220px - classicpc (classic PC)
    <980px  - large (notebooks, tablets)
    <768px  - medium (tablets, mobiles landscape)
    <660px  - small (mobiles)
    <500px  - smaller (QHD smartphones)
    <395px  - tiny (iphone 6, most of smartphones)
    <360px  - ultratiny (iphone 4>)
*/
$screen-utn = 360px
$screen-tn = 375px
$screen-xs = 500px // mobile
$screen-sm = 660px // tablet
$screen-md = 768px // small pc
$screen-lg = 980px
$screen-pc = 1220px
$screen-xl = 1920px
